h1 {
    text-align: center;
    margin: 40px 0;
    color: #fff;
}

.container:first-child {
    background-color: darkkhaki;
    border-radius: 10px;
    border: 1px solid #8B008B;
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.363);
    padding: 10px;
}

.impar {
    background-color: deeppink;
    height: 50px;
    border: 1px solid #800000;
}

.par {
    background-color: goldenrod;
    height: 50px;
    border: 1px solid #800000;
}



